ST3PClient/ST3PClient/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49469/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49469/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49469/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Income_InputMessage">
    <wsdl:part name="parameters" element="tns:Income" />
  </wsdl:message>
  <wsdl:message name="IService1_Income_OutputMessage">
    <wsdl:part name="parameters" element="tns:IncomeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTreeInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTreeInfo" />
  </wsdl:message>
  <wsdl:message name="IService1_SetTreeInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTreeInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRecord_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRecord" />
  </wsdl:message>
  <wsdl:message name="IService1_AddRecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTree_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTree" />
  </wsdl:message>
  <wsdl:message name="IService1_GetTree_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTreeResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Income">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Income" message="tns:IService1_Income_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/IncomeResponse" message="tns:IService1_Income_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTreeInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetTreeInfo" message="tns:IService1_SetTreeInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetTreeInfoResponse" message="tns:IService1_SetTreeInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddRecord" message="tns:IService1_AddRecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddRecordResponse" message="tns:IService1_AddRecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTree">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetTree" message="tns:IService1_GetTree_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetTreeResponse" message="tns:IService1_GetTree_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Income">
      <soap:operation soapAction="http://tempuri.org/IService1/Income" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTreeInfo">
      <soap:operation soapAction="http://tempuri.org/IService1/SetTreeInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRecord">
      <soap:operation soapAction="http://tempuri.org/IService1/AddRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTree">
      <soap:operation soapAction="http://tempuri.org/IService1/GetTree" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:49469/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>